*{
  font-family: "Roboto";
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282828;
}

div {
  color: #eb0505;
  font-size: 150px;
  font-wight: 300;
  border: 5px solid #fff;
  border-radius: 15px;
}